extends layout

block content
  h1= title
  p Ratings for #{username}@#{site}


    form(method='post',action='')

      p
      label(for='crazy_rating') Looks [out of 10:
      input(type='text',name='crazy_rating',id='crazy_rating')

      p
      label(for='hot_rating') Personality [out of 10]:
      input(type='text',name='hot_rating',id='hot_rating')  

      p
      label(for='comments') Comments:
      input(type='text',name='comments',id='comments')  

      p
      label(for='display_name') How your rating appears:
      input(type='text',name='display_name',id='display_name')  

      p
      input(type='submit',name='submit',id='submit', value="Rate!").

  if ratings
    for rating in ratings
      p Looks: #{rating.hot_rating}/10
      p Personality: #{rating.crazy_rating}/10
      p Comments: #{rating.comments}
      p Rated By: #{rating.display_name}
  else
    p No messages