extends layout

block content
  h1= title
  #spacer(style = "height: 50px")
  #main_box(style = "width: 80%; margin: auto;")

    #profile_box(style="height: 200px; margin: auto; padding: 15px;")
      div(id="photo" style="width: 200px; height: 200px; float: left;")
        img(src="none", width="150", height="150")
      div(id="username", style="vertical-align: text-top;")
        br
        h4 Ratings for #{username}@#{site}
        br
        |Personality: #{average_pers}/10
        br
        |Looks: #{average_hot}/10
    
    br

  if ratings
    for rating in ratings
      .panel.panel-default(style = "width: 70%; margin: auto;")
        .panel-heading(style = "padding: 3px;")
          #boxtitle(style = "font-size:110%; \
                              position: relative; \
                              text-align: right;")
            span(style="float:left;") #{rating.display_name}
            span(style="text-align:right;") Looks: #{rating.hot_rating}/10 - #{rating.crazy_rating}/10
        .panel-body.height(style="text-align: left ;")
          |#{rating.comments}
      br
  else
    p No messages

  form(method='post',action='')
    .panel.panel-default(style = "width: 70%; margin: auto;")
      .panel-heading(style = "padding: 3px;")
        #boxtitle(style = "font-size:110%; \
                            position: relative; \
                            text-align: left;")
          |Comment
      .panel-body.height(style="text-align: left;")
        label(for='crazy_rating') Looks [out of 10]:
        input(type='text',name='crazy_rating',id='crazy_rating',max_length='2',size='2',style='width:2em;')

        br
        label(for='hot_rating') Personality [out of 10]:
        input(type='text',name='hot_rating',id='hot_rating',max_length='2',size='2')  

        p
        label(for='comments') Comments:
        textarea(name='comments',id='comments', rows='5', cols='50')  

        p
        label(for='display_name') How your rating appears:
        input(type='text',name='display_name',id='display_name')  

        p
        input(type='submit',name='submit',id='submit', value="Rate!").